@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Quicksand:700);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
	font-family: "Quicksand", "Noto Sans Japanese", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", "Meiryo", Verdana, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', Osaka, sans-serif, Ariel, Helvetica;
	min-width: 350px;
}

main {
	padding: 1.5rem 0;
}

header, main, footer {
	padding-left: 240px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}